body
{
  font-family: sans-serif;
}

code, a, a:hover
{
  color: #006699;
}

pre
{
  font-family: monospace;
  padding: 5px;
  border: 1px solid black;
  background: #eee;
  margin-left: 2em;
}

hr
{
  display: none;
}

h1
{
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}
table p {
  margin: 0;
  padding: 0;
}
